body {
      font-family: Arial;
      color: #777;
      background: #777;
      width: 960px;
      font-size: 18px;
      margin: 35px auto;
    }

    .header,
    .nav,
    .section,
    .aside,
    .footer {
      background: #ebebeb;
    }

    /* add margin and padding to create space around and in the article */
    .article {
      background: #777;
      color: #ebebeb;
      margin: 10px;
      padding: 10px;
    }


    /* set all font to be the same size; add padding to top and bottom of text */
    h1, p {
      color: #777;
      background: #ebebeb;
      font-weight: 400;
      font-size: 18px;
      padding: 10px 0;
    }

    /* set margin for top bottom and side of h1 and p */
    .article h1,
    .article p {
      margin: 10px 0;
    }

    .wrapper {
      text-align: center;
    }

    /*  make sure height is set no matter the content */
    .flex {
      display: -webkit-flex; /* Safari */
      display: flex;
    }

    .section {
      width: 55%;
      float: left;
      margin-right: 5px;
    }

    .aside {
      width: 43.98%;
      float: left;
      margin-left: 5px;
    }

    /* remove the margin top becasue the div has a margin already built into the nativ browser style sheet. you can see this by inspecting the page with your developer tools */
    .footer {
      clear: both;
      width: 100%;
          }

    /* create a class to make sure all "rows" are the same width (495px) use margin 0 auto to center the elements on the page */
    .max-width {
      width: 960px ;
      margin: 0 auto;
    }
        
    }
    
    .nav {
      padding: 2px 0px;
      margin: 2px auto;
    }

    /* create a class clearfix these 2 floating sections mis-baviour.  */
    .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
